# 🔑 Configuración del Sistema (AgroConecta)

# Puerto del Servidor
PORT=3001

# Seguridad JWT (Cualquier texto largo y aleatorio)
JWT_SECRET=tu_secreto_aqui

# 🗄️ Base de Datos (PostgreSQL)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=agroconecta
DB_PASSWORD=tu_password_de_postgres
DB_PORT=5432

# 📧 Configuración de Correo (Gmail)
# El EMAIL_PASS debe ser una "Contraseña de Aplicación" de Google
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_clave_de_aplicacion
